// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$heading-font-family: "Arial", sans-serif;
$body-font-family: "Arial", sans-serif;
$font-size-root: 14px;

$headings: (
	'body': (
		'size': 1.125rem,
		'weight': 400,
		'line-height': 1.5rem,
		'letter-spacing': .03125em,
		'font-family': $body-font-family,
		'text-transform': false
	)
);

body {
  background-color: #111;
}


@import '~vuetify/src/styles/styles.sass';
